.dark-grey-background {
    color:black;
    background:#aaa;
}
.light-grey-background {
    color:black;
    background:#ddd;
}
.blue-grey-background {
    color:white;
    background:#607d8b;
}
.attribute-item {
    font-size:12px;
}
#attribute-list-div {
    background:#aaa;
}
.component-list {
    background:grey;
    border:none;
}
.w3-ul li {
    border-bottom:0px;
}
#sidebar {
    background:#607d8b;
    border-right:thick solid white;
}
.component-type-name {
    color:black;
    font-size:12px;
}
.component-list-name {
    font-size:12px;
}
.dark-font {
    color:black;
}
.dropdown-menu {
    border:medium solid black;
    background:#607d8b;
}
.dropdown-menu h4 {
    color:white;
}
.dropdown-menu a {
    color: black;
    background:#ddd;
    font-size:14px;
}
.dropdown-menu a:hover {
    background:#bbb;
    color: white;
}
