.attribute-list {
    background:grey;
}
.attribute-item {
    color:white;
    font-size:12px;
}
.diagram-list-item {
    background:yellow;
    color:black;
}
.component-list {
    background:yellow;
}
