/*
 *  Copyright © 2016-2017, RWTH Aachen University
 *  Authors: Richard Marston
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  A copy of the GNU General Public License is in the LICENSE file
 *  in the top level directory of this source tree.
 */

#menu {
    color:#607d8b;
    background-color:#fff;
}
a{
    background-color:transparent;
}
.button {
    background-color:inherit;
}
button:hover {
    background-color: rgba(255,255,255,0.5);
}
.floating-panel-list {
    background: rgba(0, 0, 0, 0.0);
    border:none;
}
#sidebar {
    background: #6EA2B0;
    border-right: 2px solid #6EA2B0;
    border-bottom: 2px solid #6EA2B0;
}
.list-title {
    background: #6EA2B0;
    color: white;
}
.list-subtitle {
    color: #527984;
    background: white;
    padding: 0px;
}
.list-entry {
    color: white;
    background:#6EA2B0;
}
