
/* tag name are just so.
   id begins with #
   class begins with . */

/* body contains menu and middle
   arranged in a column */
html, body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow:hidden;
    max-height:100%;
}
button {
    min-height: 40px;
}
/* middle contains the sidebar and
   the main content in a row so they
   are next to each other */
#middle {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y:auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 40px;
}
.data-panel-text {
    height:100%;
    width:100%;
}
.data-panel {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    flex-grow: 1;
}
/* sidebar is a column of menu items
   to the right of middle section */
#sidebar {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    order: -1;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    overflow-y: auto;
}
#component-search {
    /* display:none;*/
    overflow-x:hidden;
    overflow-y:auto;
}
/* main contains the svg and optionally
   the raw xml or pintura data object
   it is to the right of middle*/
#main {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: -1;
    order: 2;
    overflow:hidden;
    height:100%;
    width:100%;
}
#component-attributes {
    display:none;
    border:none;
    flex: 1;
    flex-grow:-1;
    width:700px;
    min-width: 700px;
    max-width: 700px;
}
#diagram {
    flex: 1;
    flex-grow: 1;
    width: auto;
    height: 100%;
}
#attribute-list-header {
    border-right:thick solid white;
}
#attribute-list-div {
    margin-left:10px;
    margin-right:10px;
}
.attribute-list {
    margin-right:0px;
    height:100%;
    overflow-y:auto;
    padding-left:10px;
    padding-right:10px;
}
.attribute-name {
    margin-top:10px;
    text-align:left;
}
.attribute-value {
    margin-right:10px;
}
.attribute-value input{
    text-align:right;
}
.component-list {
    width:100%;
}
.component-type-name {
    width:100%;
}
.wide-row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.row-left {
    order: 0;
}
.row-right {
    order: 1;
    margin-right:0px;
}
#attribute-list-component-name {
    flex-grow: 1;
}
#swap-sides {
    flex-grow: -1;
}
#close-sides {
    flex-grow: -1;
}
.dropdown {
    float: right!important;
    width: 200px;
}
.dropdown-menu {
    position:fixed!important;
    height:auto;
    background:#fff;
    width:200px;
    z-index:1;
    display: none;
    border:medium solid black;
}
.dropdown-menu a {
    text-decoration: none;
    color: black;
    display: block;
    width:100%;
    text-align: left;
    padding:4px 6px;
    font-size:14px;
}
h4 {
    font-size:16px;
    text-align: center;
}
.line {
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid black;
}
input:focus {
    outline:none;
}
.dialog-over-diagram {
    position: fixed!important;
    z-index: 1;
}
.dialog-shrink-diagram{
}
.dialog-right {
    right: 0;
    order: 1;
}
.dialog-left {
    order: 0;
}
