
/* tag name are just so.
   id begins with #
   class begins with . */

/* body contains menu and middle
   arranged in a column */
html, body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow:hidden;
    max-height:100%;
}
button {
    min-height: 40px;
}
/* middle contains the sidebar and
   the main content in a row so they
   are next to each other */
#middle {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y:auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 40px;
}
.data-panel-text {
    height:100%;
    width:100%;
}
.data-panel {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    flex-grow: 1;
}
/* sidebar is a column of menu items
   to the right of middle section */
#sidebar {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    order: -1;
    width: 300px;
    min-width: 200px;
    max-width: 400px;
    overflow-y:auto;
}
#component-search {
    display:none;
    overflow-x:hidden;
    overflow-y:auto;
}
/* main contains the svg and optionally
   the raw xml or pintura data object
   it is to the right of middle*/
#main {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: -1;
    order: 2;
    overflow:hidden;
    height:100%;
}
#diagram {
    flex: 1;
    flex-grow: 1;
    width: auto;
    height: 100%;
}
.attribute-list {
    width:94%;
}
.attribute-item {
    width:94%;
}
.component-list {
    width:100%;
}
