            <div id="corner-switches">
                <span id="barmenu-switch" class="switch button row-right topleft" onclick="currentCimmenu().toggleMainMenuVisible();">
                    <span class="fa fa-bars"></span>
                </span>
                <span id="all-components-switch" class="switch button row-right bottomright" onclick="currentCimmenu().populateAllComponents();">
                    <span class="fa fa-gears"></span>
                </span>
                    <span id="diagram-components-switch" class="switch button row-right bottomleft" onclick="currentCimmenu().toggleDiagramComponentsVisibility();">
                    <span class="fa fa-cubes"></span>
                </span>
            </div>
            <div id="main-menu" class="row-left dialog-over-diagram grid-panel invisible"> </div>
            <div class="spacer" order="1">
            </div>
            <div id="column-panels" class="grid-panel">
                <div class="diagrams-panel invisible">
                    <div class="floating-panel-table">
                        <div class="spacer">
                        </div>
                        <div class="floating-menu-list"> </div>
                    </div>
                </div>
                <div class="components-panel invisible">
                    <div class="floating-panel-table">
                        <div class="spacer">
                        </div>
                        <div class="floating-menu-list"> </div>
                    </div>
                </div>
                <div class="attributes-panel invisible">
                    <div class="floating-panel-table">
                        <div class="spacer">
                        </div>
                        <div class="floating-menu-list"> </div>
                    </div>
                </div>
                <div class="all-components-panel invisible">
                    <div class="floating-panel-table">
                        <div class="spacer">
                        </div>
                        <div class="floating-menu-list"> </div>
                    </div>
                </div>
            </div>
            <nav id="context-menu" class="context-menu" onmouseup="onBodyMouseUp()" style="left: 451px; top: 285px;">
                <ul class="context-menu-items">
                    <li class="context-menu-item">
                        <a class="undefined" onclick="currentCimsvg().getContextMenu().removeComponent()">Delete Component</a>
                    </li>
                </ul>
            </nav>

