<ul class="floating-panel-list">
    {{#each Diagram as |value diagramId|}}
        {{#each components as |value typeName|}}
            {{#each this as |value componentId|}}
                <li id="{{componentId}}-sidebar-button" class="list-entry">
                    <button class="row button wide-button"
                        onclick="cimmenu.componentInstanceSelected(this, '{{typeName}}', '{{componentId}}');"><span class="fa fa-cube"></span>  {{this.pintura:label.text}}</button>
                </li>
            {{/each}}
        {{/each}}
    {{/each}}
</ul>
