cimmenu/lib/*
cimsvg/lib/*
cimmenu/templates/generated
cimmenu/templates/index.js
cimmenu/templates/cgmesIndex.js
cimmenu/templates/packageIndex.js
cimmenu/node_modules/*
cimsvg/src/packageIndex.js
cimsvg/node_modules/*
dist/*
node_modules/*
package-lock.json
**/.*.swp
