[submodule "test/GridData"]
	path = test/GridData
	url = git@git.rwth-aachen.de:acs/core/simulation/grid-data
[submodule "PinturaDataModel"]
	path = PinturaDataModel
	url = git@git.rwth-aachen.de:acs/core/cim/data-models/pintura-data-model
