handlebars.runtime.js
index.html
cimmenu/generated
node_modules/*
package-lock.json
generated/add_components_menu.xml
cimmenu/node_modules/*
cimsvg/node_modules/*
dist/*
cimmenu/lib/*
cimsvg/lib/*
**/.*.swp
