[submodule "test/GridData"]
	path = test/GridData
	url = git@git.rwth-aachen.de:PowerSystemSimulation/GridData.git
[submodule "PinturaDataModel"]
	path = PinturaDataModel
	url = https://git.rwth-aachen.de/acs/core/cim/PinturaDataModel
