<span class="row-right wide-row floating-panel-value">
    <input type="text" value='{{value}}' onchange="currentCimsvg().updateComponent('{{type}}', '{{rdfid}}', '{{attribute}}', this.value)"></input>
<!--
    <button style="visibility:hidden"> + </button>
    <button style="visibility:hidden"> -> </button>
-->
</span>
