<ul class="floating-panel-list">
{{#each attributes}}
    <li class="wide-row floating-panel-item list-entry">
        <div class="row-left floating-panel-name tooltip">{{#removeClass @key}}{{/removeClass}}
            <span class="tooltiptext">{{@key}}</span>
        </div>
        {{{.}}}
    </li>
{{/each}}
</ul>
