  <div class="wide-row blue-grey-background">
    <span class="w3-button row-left">Attributes in Component: {{"cim:IdentifiedObject.name"}}</span>
    <span class="w3-button row-right"
          onclick="showContainer('component-attributes', null);"><b>Close x</b></span>
  </div>
  <ul class="attribute-list w3-ul">
  {{#each this}}
    <li class="wide-row attribute-item dark-background">
      <span class="row-left attribute-name dark-background">{{@key}}</span>
      <span class="row-right attribute-value dark-background">{{this}}</span>
    </li>
  {{/each}}
  </ul>
