<span class="wide-row floating-panel-value">
    <select class="update-simple-type blue-grey-background">
    {{#each values}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>
</span>
