<span class="wide-row floating-panel-value">
    <span>
        <select class="update-complex-type dark-grey-background">
        {{#each aggregates}}
            <option value="{{rdfid}}">{{name}}</option>
        {{/each}}
        </select>
    </span>
</span>
