/*
 *  Copyright © 2016-2017, RWTH Aachen University
 *  Authors: Richard Marston
 *  SPDX-License-Identifier: MPL-2.0
 */

a{
    background-color:transparent;
}
button:hover {
    background-color: rgb(125,125,125);
}
button,input,select,textarea{
    border: thin solid black;
    background: white;
    color: black;
}
.menu-title {
    background: white;
}
.dialog-list {
    background: white;
}
.middle-dialog {
    background: white;
}
.context-menu-item {
    background-color: #fff;
}
.context-menu-item:active,.context-menu-item:hover{
    background-color: #ccf;
}
.floating-panel-list {
    background: rgba(0, 0, 0, 0.0);
    border:none;
}
.list-title {
    background: white;
    color: black;
}
.list-subtitle {
    background: white;
    color: black;
}
.selected {
    background: lightgrey;
}

