/*
 *  Copyright © 2016-2017, RWTH Aachen University
 *  Authors: Richard Marston
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  A copy of the GNU General Public License is in the LICENSE file
 *  in the top level directory of this source tree.
 */

/* tag name are just so.
   id begins with #
   class begins with . */

/* body contains menu and middle
   arranged in a column */
html, body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow:hidden;
    max-height:100%;
    font-family:Verdana,sans-serif;
    font-size:15px;
    margin:0;
}
*,*:before,*:after{box-sizing:inherit}
a{
    -webkit-text-decoration-skip:objects
}
a:active,a:hover{
    outline-width:0;
}
button,span input,select,textarea{
    border-radius: 7px;
    font:inherit;
    min-height:34px;
    max-height:34px;
    margin: 0;
}
button {
    min-height:34px;
    margin: 0px;
    padding: 8px;
}
span input, select, textarea{
    padding: 0;
    max-width:150px;
    min-width:150px;
    height:28px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
span input {
    min-height:32px;
    max-height:32px;
    height:32px;
}
button span {
    pointer-events: none;
}
select {
    max-width:150px;
    min-width:150px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0 3em 0 0;*/
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 3.0em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}
button::-moz-focus-inner,
  [type=button]::-moz-focus-inner,
  [type=reset]::-moz-focus-inner,
  [type=submit]::-moz-focus-inner {
    border-style:none;padding:0;
}
#icons {
  background-color: #AAA;
}
.tooltiptext {
  position: absolute;
}
.tooltip .tooltiptext {
  display: inline-block;
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#left-panel {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#multi-menu-panel {
  height:100%
}
.DiagramList {
  overflow-y: scroll;
  height:100%
}
#menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
#react {
    width: 20%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.grid-panel {
    pointer-events: all;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 40px;
    min-height: 40px;
    overflow:hidden;
}
.new-component-dialog {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed!important;
    display: flex;
}
.middle-panel {
    height: 100%;
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.middle-dialog {
    height: 60%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: thin solid black;
    border-radius: 5px;
}
.dialog-list {
    flex-grow: 1;
}
#cimsvg-panel {
    width:60%;
    height:100%;
    border: grey;
    border-left: lightgrey solid 3px;
    border-right: lightgrey solid 3px;
    display: flex;
    flex-direction: column;
}
#svg {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#map-container {
    width: inherit;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.button {
    border:none;
    border-style:none;
    border-radius:0px;
    display:inline-block;
    outline:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 40px;
}
.tabs {
  position: relative;
}
.tabs:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}
.tabs:before {
    z-index: 1;
}
.tabs .tab {
    position: relative;
    z-index: 0;
}
.tabs .tab.selected {
    z-index: 2;
    border-bottom-color: #FFF;
    background-color: #FFF;
}
.tab {
    background-color: #CCC;
    border: 1px solid #CCC;
    text-align: center;
    flex-grow: 1;
}
.tabs .tab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* sidebar is a column of menu items
   to the right of middle section */
#sidebar {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    order: -1;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    overflow-y: auto;
    position: fixed!important;
}
.vertical-menu {
  width: 80px; /* Set a width if you like */
}
.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
#right-panel {
  width: 20%;
  overflow-y: scroll;
}
#diagram-display {
    flex: 1;
    flex-grow: 1;
    width: auto;
    height: 100%;
}
.floating-panel-table {
    height: 100%;
    padding: 0px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    display: table;
}
.floating-menu-list {
    margin:0px;
    padding:0px;
    order: 2;
    overflow-x:hidden;
    overflow-y:auto;
}
.floating-panel-list {
    margin: 0px;
    padding: 0px;
}
.floating-panel-item {
    font-size:12px;
    display: table-row;
}
.floating-panel-name {
    display: table-cell;
    margin-top:10px;
    margin-left:10px;
    text-align:left;
    overflow:hidden;
    font-size:12px;
}
.floating-panel-value {
    display: table-cell;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:10px;
    margin-right:10px;
    border thin solid black;
    overflow:hidden;
}
.floating-panel-value input{
    text-align:center;
}
.list-entry {
    font-size:12px;
}
.list-subtitle {
    min-height: 40px;
    max-height: 40px;
    padding: 0px;
}
.wide-row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.switch {
    margin: 0px 8px;
}
.wide-button {
    width:100%;
}
.center-button {
    text-align:center;
}
.row-left {
    order: 0;
}
.row-right {
    order: 2;
}
.panel-button {
    margin:0px;
    padding-right:8px;
    padding-left:8px;
}
.list-title {
    min-height: 40px;
    width: 100%;
    margin: 0px;
    padding-left: 8px;
    border-radius: 8px;
}
.dropdown {
    float: right!important;
    width: 200px;
}
.dropdown-menu {
    position:fixed!important;
    height:auto;
    width:200px;
    z-index:1;
    display: none;
}
.dropdown-menu a {
    text-decoration: none;
    display: block;
    width:100%;
    text-align: left;
    padding:4px 6px;
    font-size:14px;
}
h4 {
    font-size:16px;
    text-align: center;
}
.line {
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid white;
}
input:focus {
    outline:none;
}
form {
    display: flex;
    align-items: center;
}
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}
.context-menu-items {
    box-shadow: 1px 1px 2px #cfcfcf;
    margin: 0px;
    border: solid 1px #000000;
    padding: 0px;
}
.context-menu-item {
    margin: 0px;
    border: 0px;
    padding: 3px;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.context-menu-active {
    display: block;
}
#diagram-display {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.diagrams-panel {
    order: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#components-menu-panel {
    display: flex;
    flex-direction: column;
}
.components-panel {
    order: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.attributes-panel {
    order: 3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.raw-components-panel {
    order: 4;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.buttonright {
    padding-right:8px;
}
.buttonleft {
    padding-left:8px;
}
.topleft {
    position: fixed!important;
    left: 0;
    top: 0;
}
.bottomleft {
    position: fixed!important;
    left: 0;
    bottom: 0;
}
.topright {
    position: fixed!important;
    right: 0;
    top: 0;
}
.bottomright {
    position: fixed!important;
    right: 0;
    bottom: 0;
}
.leftmargin {
    margin-left: 30px;
}
.rightmargin {
    margin-right: 30px;
}
.fullcolumn {
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.spacer {
    flex-grow: 1;
    pointer-events: none;
}
.indent {
    margin-left: 20px;
}
.bigindent {
    margin-left: 40px;
}
.invisible {
    display:none;
    pointer-events: none;
}
.hiddenbutton {
    visibility: hidden;
}
.hiddenmenu {
    display: none;
}
.hiddentab {
    height: 0;
    display: none;
}
