.bar {
    stroke: #000;
    stroke-width: 3px;
}
.fillwhenstill {
    fill: inherit;
    stroke-dasharray: 0;
    stroke-width: 1px;
}
.nodisplay {
    display: none;
}
.nopointer {
    pointer-events: none;
}
.highlighted-node:hover {
  stroke: #ff0;
}
line {
    stroke: #000;
    stroke-width: 1px;
}
.line {
    stroke: #000;
}
.terminal-connnode {
    stroke: #000;
    stroke-width: 1px;
}
.terminal-toponode {
    stroke: #000;
    stroke-width: 1px;
}
.conduct {
    stroke: #000;
    stroke-width: 1px;
}
.unknown {
    stroke: #f0f;
    stroke-width: 1px;
    height: 20px;
    width: 20px;
}
.acline {
    stroke: #000;
    stroke-width: 2px;
}
.backing {
    fill: whitesmoke;
}

/* Below here are SVG elements that we don't want the user to interact with
   therefore we disable pointer events */

.svglabel {
    visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-family: "sans-serif";
    text-anchor: right;
    fill: black;
    stroke-width: 1px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
.svglabel-bg {
    visibility: hidden;
    fill: white;
    stroke: grey;
    stroke-width: 1px;
    fill-opacity: 0.85;
}
.svglabel-high {
    visibility: visible;
}
.gridLine {
    stroke: #aaa;
    stroke-width: 1px;
    pointer-events: none;
    stroke-dasharray: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
.gridLabel {
    font-size: 5px;
    font-family: "sans-serif";
    fill: grey;
    stroke-width: 0px;
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
