<ul class="floating-panel-list">
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:BaseVoltage.TopologicalNode</span>

        {{{getAggregateComponentMenu 'cim:BaseVoltage' [pintura:rdfid] [cim:cim:BaseVoltage.TopologicalNode] 'cim:TopologicalNode' 'cim:BaseVoltage.TopologicalNode' }}}

    </li>
    <li class="wide-row floating-panel-item list-subtitle">
        <span class="row-left floating-panel-name">Show Terminals</span>
        <span class="row-right floating-panel-value">
            <button onclick="currentCimsvg().populateTerminals('cim:BaseVoltage', '{{{[pintura:rdfid]}}}')">
                           -&gt;
            </button>
        </span>
    </li>
</ul>
